*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header nav{
  display: flex;
  justify-content: space-between;
}

nav ul{
  list-style: none;
  display: flex;
}

ul li a{
  margin: 10px;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

nav button{
  padding: 4px 8px;
  border: none;
  background: green;
}