.white-text{
  color: white;
  text-shadow: 0px 0px 4px black;
}

.shadow-box{
  width: 400px;
  box-shadow: 2px 4px 10px 2px gray;
  border-radius: 12px;
  padding: 12px;
}

.box {
  /* outline: 2px solid blue; */
  width: min-content;
  margin: 24px;
  filter: drop-shadow(2px 2px 4px tomato);
}