@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  font-family: "Roboto", serif;
}

:root {
  --primary-color: hsl(58, 91%, 54%);
  --primary-color-2: hsl(58, 91%, 44%);
  --primary-color-3: hsl(58, 91%, 40%);
  --secondary-color: hsl(358, 82%, 53%);
  --secondary-color-2: hsl(358, 82%, 44%);
  --secondary-color-3: hsl(358, 82%, 40%);
}

body {
  margin: 0;
  min-height: 100vh;
  color: #111;
  background-color: #ffffff;
}

body > header h1 {
  margin-block: 8px;
  font-weight: 400;
  font-size: 1.6em;
  font-style: normal;
}

.navbar {
  background-color: var(--primary-color-2);
}
.navbar .container {
  padding-block: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  all: unset;
  display: inline-block;
  text-align: center;
  width: fit-content;
}

.logo {
  cursor: pointer;
}

.logo img {
  backdrop-filter: drop-shadow(0 0 0 black);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 12px;
  padding: 0;
}

.cta-button {
  text-decoration: none;
  color: #f5f5f5;
  background-color: var(--secondary-color);
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
  border: none;
}

.cta-button:hover {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.cta-button:active {
  color: var(--primary-color-2);
  background-color: var(--secondary-color-2);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.banner .container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.banner .container img {
  background: url("../images/banner-bg-img.png") no-repeat;
  /* background-position-x: calc((500 + 18) * -0px); */
  animation: banner-slide 12s step-start infinite normal none;
}

@keyframes banner-slide {
  0% {
    background-position-x: calc((500 + 18) * 0px);
  }
  25% {
    background-position-x: calc((500 + 18) * -1px);
  }
  50% {
    background-position-x: calc((500 + 18) * -2px);
  }
  75% {
    background-position-x: calc((500 + 18) * -3px);
  }
  100% {
    background-position-x: calc((500 + 18) * -4px);
  }
}

section.section {
}
.mini-card-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}


.faqs-question{
  font-style: italic;
  box-shadow: 0 0 4px #aaaa;
  border-radius: 8px;
  padding-block: 12px;
  padding-inline: 8px;
  font-size: 20px;
  margin-block: 12px;
}

.faqs-question summary {
  font-weight: bolder;
  color: #ec2825;
}

.faqs-question summary::before{
  content: "Q. "
}

.faq-answer {
  padding-inline-start: 32px;
  margin-block-start: 8px;
  background-color: #ffdf48;
  padding-block: 12px;
  border-radius: 8px;
}

footer .col {
  padding: 16px;
}

body > footer {
  background-color: #ccc;
  padding-block: 16px;
}

body > footer h4 {
  margin-block-start: 0;
  margin-block-end: 4px;
}

body > footer ul {
  margin: 0;
}

body > footer ul a {
  color: #4c4c4c;
  font-size: 0.8rem;
}

footer form input {
  width: 70%;
  min-width: 200px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-block-end: 12px;
}

footer form input::placeholder {
  font-family: inherit;
}

/* ======================Utilities=========================== */
.container {
  max-width: 1440px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.row {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 5fr)); */
  grid-template-columns: 4fr 1fr 1fr 1fr 3fr;
  gap: 12px;
}

.list-sytle-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mini-cards {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.mini-card {
  background-color: #f5f5f5;
  padding: 16px;
  box-shadow: 0 0 2px;
  border-radius: 8px;
}

.mini-card img {
  border-radius: 8px;
}

.acb {
  align-content: center;
  max-width: 200px;
  flex-grow: 1;
  text-decoration: none;
  transition: all 0.3s ease;
}

.acb:hover {
  text-decoration: underline;
  font-size: 20px;
}

.button {
  text-decoration: none;
  display: inline-block;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  /* border: 1px solid #ccc; */
  font-weight: bold;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.button:hover {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.button:active {
  color: var(--primary-color-2);
  background-color: var(--secondary-color-2);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}
