body {
  background-color: antiquewhite;
}

/* ID Selector */
#para {
  color: red;
}

/* Class Selector */
.nice-font {
  font-family: "Segoe print";
}

.nice-color {
  color: blueviolet;
}

#big-font {
  font-size: 40px;
}
