* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: salmon;
  min-height: 100vh;
}

.container {
  font-size: 30px;
  outline: 2px solid #f1e;
  margin: 40px;
/*   position: relative; */
padding: 12px;
}

.box{
  border: 2px solid red;
  width: 200px;
  height: 160px;
  transform: scale(1.5);
  transform-origin: 30px 40px;
}

